<%- include('./partials/header') %>

    <div class="sidenav">
      <a href="../games">Video Games</a>
      <a href="#Sports">Sports</a>
      <a href="#FoodAndDrink">Food And Drink</a>
      <a href="#HumanBody">Human Body</a>
      <a href="#Contact">Contact</a>
    </div>
    <div class="main">
      <h1><%= title %></h1>
      <p>Welcome to <%= title %></p>
    </div>
  </body>
</html>
