<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Document</title>
</head>
  <body>
    <header>
      <h1 class="maintitle">BRAG BOARD</h1>
      <div class="topnav">
        <a href="/logout">Log Out</a>
        <a href="/auth/google">Login with Google</a>
      </div>
    </header>
    <form id="new-form" action="/games" method="POST">
        <label>Game:</label>
        <select name="Game">
            <option value="CallOfDuty">Call Of Duty</option>
            <option value="Destiny">Destiny</option>
            <option value="Fortnite">Fortnite</option>
            <option value="Halo">Halo</option>
          </select>
        <label>Title:</label>
        <input type="text" name="title"> <br>
        <label>Description:</label>
        <textarea name="content"></textarea> <br>
        <label>Proof</label>
        <input type="url" name="proof"> <br>
        <input type="submit" value="Add Brag">
      </form>
  </body>
</html>